<!-- <html>
    <head>

    </head>

   
</html> -->

<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            text-align: center;
        }

        header {
            background-color: #333;
            padding: 1rem;
            color: #fff;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        a {
            display: inline-block;
            padding: 10px;
            margin-top: 10px;
            margin-left: 20px;
            text-decoration: none;
            color: #333;
            background-color: #fff;
            border: 1px solid #333;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>

    <header>
        <h1>Welcome to the Eshop</h1>
    </header>

    <body>
        
        <a href="/user/showAllProducts">Show All Products</a>
        <a href="/user/category1">Category 1</a>
        <a href="/user/category2">Category 2</a>
    </body>

</body>
</html>
